{% load static %}

<header class="header">
    <div class="contenedor logo-nav-contenedor">
      <img src="{% static 'img/LogoOficial.jpg' %}" class="logo-oficial" />
      <nav class="nav">
        <ul>
          <li><a href="inicio.html">Inicio</a></li>
          <li><a href="{% url 'login' %}">Iniciar Sesion</a></li>
          <li><a href="{% url 'signup' %}">Crear Cuenta</a></li>
          <li><a href="vacantes.html">Vacantes</a></li>
          <li><a href="sobre_nosotros.html">Sobre Nosotros</a></li>
        </ul>
      </nav>
    </div>
</header>